# Lending Club Data EDA

In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv('data/loan.csv',low_memory=False)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
id                             887379 non-null int64
member_id                      887379 non-null int64
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
term                           887379 non-null object
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
sub_grade                      887379 non-null object
emp_title                      835922 non-null object
emp_length                     887379 non-null object
home_ownership                 887379 non-null object
annual_inc                     887375 non-null float64
verification_status            887379 non-null object
issue_d                        887379 non-null object
loan_status                    887379 non-null object
pymnt_plan                     887379 non-null object
url                            887379 non-null object
desc                           126029 non-null object
purpose                        887379 non-null object
title                          887228 non-null object
zip_code                       887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
delinq_2yrs                    887350 non-null float64
earliest_cr_line               887350 non-null object
inq_last_6mths                 887350 non-null float64
mths_since_last_delinq         433067 non-null float64
mths_since_last_record         137053 non-null float64
open_acc                       887350 non-null float64
pub_rec                        887350 non-null float64
revol_bal                      887379 non-null float64
revol_util                     886877 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
total_rec_late_fee             887379 non-null float64
recoveries                     887379 non-null float64
collection_recovery_fee        887379 non-null float64
last_pymnt_d                   869720 non-null object
last_pymnt_amnt                887379 non-null float64
next_pymnt_d                   634408 non-null object
last_credit_pull_d             887326 non-null object
collections_12_mths_ex_med     887234 non-null float64
mths_since_last_major_derog    221703 non-null float64
policy_code                    887379 non-null float64
application_type               887379 non-null object
annual_inc_joint               511 non-null float64
dti_joint                      509 non-null float64
verification_status_joint      511 non-null object
acc_now_delinq                 887350 non-null float64
tot_coll_amt                   817103 non-null float64
tot_cur_bal                    817103 non-null float64
open_acc_6m                    21372 non-null float64
open_il_6m                     21372 non-null float64
open_il_12m                    21372 non-null float64
open_il_24m                    21372 non-null float64
mths_since_rcnt_il             20810 non-null float64
total_bal_il                   21372 non-null float64
il_util                        18617 non-null float64
open_rv_12m                    21372 non-null float64
open_rv_24m                    21372 non-null float64
max_bal_bc                     21372 non-null float64
all_util                       21372 non-null float64
total_rev_hi_lim               817103 non-null float64
inq_fi                         21372 non-null float64
total_cu_tl                    21372 non-null float64
inq_last_12m                   21372 non-null float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

## Too many columns and missing variables, let's work on the summary first

In [81]:
def get_info_df(df):
    dfinfo=[]
    for col in df.columns:
        column=df[col]
        dfinfo.append([col,column.dtype,np.sum(column.isnull()),
                       len(column.unique()),np.min(column),np.max(column)])
    dfinfo = pd.DataFrame(dfinfo)    
    dfinfo.columns = ['Name','Type','Nulls','Unique','Min','Max']
    return dfinfo.sort_values(['Nulls','Type','Unique'],ascending=True).reset_index(drop=True)

In [83]:
dfinfo = get_info_df(df)
dfinfo

,Name,Type,Nulls,Unique,Min,Max
0,id,int64,0,887379,54734,68617057
1,member_id,int64,0,887379,70473,73544841
2,policy_code,float64,0,1,1,1
3,int_rate,float64,0,542,5.32,28.99
4,loan_amnt,float64,0,1372,500,35000
5,funded_amnt,float64,0,1372,500,35000
6,dti,float64,0,4086,0,9999
7,total_rec_late_fee,float64,0,6181,0,358.68
8,funded_amnt_inv,float64,0,9856,0,35000
9,collection_recovery_fee,float64,0,20708,0,7002.19
10,recoveries,float64,0,23055,0,33520.3
11,installment,float64,0,68711,15.67,1445.46
12,revol_bal,float64,0,73740,0,2.90484e+06
13,last_pymnt_amnt,float64,0,232451,0,36475.6
14,out_prncp,float64,0,248332,0,49372.9
15,total_rec_prncp,float64,0,260227,0,35000
16,out_prncp_inv,float64,0,266244,0,49372.9
17,total_rec_int,float64,0,324635,0,24205.6
18,total_pymnt_inv,float64,0,506616,0,57777.6
19,total_pymnt,float64,0,506726,0,57777.6
20,term,object,0,2,36 months,60 months
21,pymnt_plan,object,0,2,n,y
22,initial_list_status,object,0,2,f,w
23,application_type,object,0,2,INDIVIDUAL,JOINT
24,verification_status,object,0,3,Not Verified,Verified
25,home_ownership,object,0,6,ANY,RENT
26,grade,object,0,7,A,G
27,loan_status,object,0,10,Charged Off,Late (31-120 days)
28,emp_length,object,0,12,1 year,n/a
29,purpose,object,0,14,car,wedding
...,...,...,...,...,...,...
44,collections_12_mths_ex_med,float64,145,13,0,20
45,title,object,151,63146,inf,îîMY FIRST CAR îî
46,revol_util,float64,502,1357,0,892.3
47,last_pymnt_d,object,17659,99,inf,Sep-2015
48,emp_title,object,51457,299273,inf,​License Compliance Investigator
49,tot_coll_amt,float64,70276,10326,0,9.15254e+06
50,total_rev_hi_lim,float64,70276,21252,0,1e+07
51,tot_cur_bal,float64,70276,327343,0,8.00008e+06
52,next_pymnt_d,object,252971,101,inf,Sep-2015
53,mths_since_last_delinq,float64,454312,156,0,188
54,mths_since_last_major_derog,float64,665676,169,0,188
55,mths_since_last_record,float64,750326,124,0,129
56,desc,object,761350,124471,inf,~20K total in medical expenses discovered on e...
57,open_il_12m,float64,866007,13,0,12
58,open_acc_6m,float64,866007,14,0,14
59,open_il_24m,float64,866007,18,0,19
60,open_rv_12m,float64,866007,19,0,22
61,inq_fi,float64,866007,19,0,17
62,open_rv_24m,float64,866007,29,0,43
63,inq_last_12m,float64,866007,30,-4,32
64,total_cu_tl,float64,866007,34,0,35
65,open_il_6m,float64,866007,36,0,40
66,all_util,float64,866007,1129,0,151.4
67,max_bal_bc,float64,866007,10708,0,127305
68,total_bal_il,float64,866007,17031,0,878459
69,mths_since_rcnt_il,float64,866569,202,0,363
70,il_util,float64,868762,1273,0,223.3
71,annual_inc_joint,float64,886868,309,17950,500000
72,verification_status_joint,object,886868,4,inf,Verified
73,dti_joint,float64,886870,450,3,43.86

## Get rid of columns with no information or too many missing values

In [84]:
dfinfo.Name[(dfinfo.Unique==1)|(dfinfo.Unique==887379)|(dfinfo.Nulls>90000)].values

array(['id', 'member_id', 'policy_code', 'url', 'next_pymnt_d',
       'mths_since_last_delinq', 'mths_since_last_major_derog',
       'mths_since_last_record', 'desc', 'open_il_12m', 'open_acc_6m',
       'open_il_24m', 'open_rv_12m', 'inq_fi', 'open_rv_24m',
       'inq_last_12m', 'total_cu_tl', 'open_il_6m', 'all_util',
       'max_bal_bc', 'total_bal_il', 'mths_since_rcnt_il', 'il_util',
       'annual_inc_joint', 'verification_status_joint', 'dti_joint'], dtype=object)

In [85]:
dropped_columns=['id', 'member_id', 'policy_code', 'url', 'next_pymnt_d',
       'mths_since_last_delinq', 'mths_since_last_major_derog',
       'mths_since_last_record', 'desc', 'open_il_12m', 'open_acc_6m',
       'open_il_24m', 'open_rv_12m', 'inq_fi', 'open_rv_24m',
       'inq_last_12m', 'total_cu_tl', 'open_il_6m', 'all_util',
       'max_bal_bc', 'total_bal_il', 'mths_since_rcnt_il', 'il_util',
       'annual_inc_joint', 'verification_status_joint', 'dti_joint']

In [86]:
df_clean = df.drop(dropped_columns,axis=1)

In [88]:
df_clean_info = get_info_df(df_clean)
df_clean_info

,Name,Type,Nulls,Unique,Min,Max
0,int_rate,float64,0,542,5.32,28.99
1,loan_amnt,float64,0,1372,500,35000
2,funded_amnt,float64,0,1372,500,35000
3,dti,float64,0,4086,0,9999
4,total_rec_late_fee,float64,0,6181,0,358.68
5,funded_amnt_inv,float64,0,9856,0,35000
6,collection_recovery_fee,float64,0,20708,0,7002.19
7,recoveries,float64,0,23055,0,33520.3
8,installment,float64,0,68711,15.67,1445.46
9,revol_bal,float64,0,73740,0,2.90484e+06
10,last_pymnt_amnt,float64,0,232451,0,36475.6
11,out_prncp,float64,0,248332,0,49372.9
12,total_rec_prncp,float64,0,260227,0,35000
13,out_prncp_inv,float64,0,266244,0,49372.9
14,total_rec_int,float64,0,324635,0,24205.6
15,total_pymnt_inv,float64,0,506616,0,57777.6
16,total_pymnt,float64,0,506726,0,57777.6
17,term,object,0,2,36 months,60 months
18,pymnt_plan,object,0,2,n,y
19,initial_list_status,object,0,2,f,w
20,application_type,object,0,2,INDIVIDUAL,JOINT
21,verification_status,object,0,3,Not Verified,Verified
22,home_ownership,object,0,6,ANY,RENT
23,grade,object,0,7,A,G
24,loan_status,object,0,10,Charged Off,Late (31-120 days)
25,emp_length,object,0,12,1 year,n/a
26,purpose,object,0,14,car,wedding
27,sub_grade,object,0,35,A1,G5
28,addr_state,object,0,51,AK,WY
29,issue_d,object,0,103,Apr-2008,Sep-2015
30,zip_code,object,0,935,007xx,999xx
31,annual_inc,float64,4,49385,0,9.5e+06
32,acc_now_delinq,float64,29,9,0,14
33,inq_last_6mths,float64,29,29,0,33
34,delinq_2yrs,float64,29,30,0,39
35,pub_rec,float64,29,33,0,86
36,open_acc,float64,29,78,0,90
37,total_acc,float64,29,136,1,169
38,earliest_cr_line,object,29,698,inf,Sep-2012
39,last_credit_pull_d,object,53,104,inf,Sep-2015
40,collections_12_mths_ex_med,float64,145,13,0,20
41,title,object,151,63146,inf,îîMY FIRST CAR îî
42,revol_util,float64,502,1357,0,892.3
43,last_pymnt_d,object,17659,99,inf,Sep-2015
44,emp_title,object,51457,299273,inf,​License Compliance Investigator
45,tot_coll_amt,float64,70276,10326,0,9.15254e+06
46,total_rev_hi_lim,float64,70276,21252,0,1e+07
47,tot_cur_bal,float64,70276,327343,0,8.00008e+06

## let's add all float values with low missing data

In [105]:
df_clean_info.Name[(df_clean_info.Type=='float64')&(df_clean_info.Nulls<10000)].values

array(['int_rate', 'loan_amnt', 'funded_amnt', 'dti', 'total_rec_late_fee',
       'funded_amnt_inv', 'collection_recovery_fee', 'recoveries',
       'installment', 'revol_bal', 'last_pymnt_amnt', 'out_prncp',
       'total_rec_prncp', 'out_prncp_inv', 'total_rec_int',
       'total_pymnt_inv', 'total_pymnt', 'annual_inc', 'acc_now_delinq',
       'inq_last_6mths', 'delinq_2yrs', 'pub_rec', 'open_acc', 'total_acc',
       'collections_12_mths_ex_med', 'revol_util'], dtype=object)

In [106]:
float_columns = ['int_rate', 'loan_amnt', 'funded_amnt', 'dti', 'total_rec_late_fee',
       'funded_amnt_inv', 'collection_recovery_fee', 'recoveries',
       'installment', 'revol_bal', 'last_pymnt_amnt', 'out_prncp',
       'total_rec_prncp', 'out_prncp_inv', 'total_rec_int',
       'total_pymnt_inv', 'total_pymnt', 'annual_inc', 'acc_now_delinq',
       'inq_last_6mths', 'delinq_2yrs', 'pub_rec', 'open_acc', 'total_acc',
       'collections_12_mths_ex_med', 'revol_util']

In [107]:
float_columns

['int_rate',
 'loan_amnt',
 'funded_amnt',
 'dti',
 'total_rec_late_fee',
 'funded_amnt_inv',
 'collection_recovery_fee',
 'recoveries',
 'installment',
 'revol_bal',
 'last_pymnt_amnt',
 'out_prncp',
 'total_rec_prncp',
 'out_prncp_inv',
 'total_rec_int',
 'total_pymnt_inv',
 'total_pymnt',
 'annual_inc',
 'acc_now_delinq',
 'inq_last_6mths',
 'delinq_2yrs',
 'pub_rec',
 'open_acc',
 'total_acc',
 'collections_12_mths_ex_med',
 'revol_util']

In [108]:
df_float = df[float_columns]

In [109]:
df_float.T

,0,1,2,3,4,5,6,7,8,9,...,887369,887370,887371,887372,887373,887374,887375,887376,887377,887378
int_rate,10.650000,15.27,15.960000,13.490000,12.69,7.900000,15.96,18.640000,21.28,12.69,...,8.67,9.49,19.24,11.99,15.59,11.99,11.99,15.99,19.99,11.99
loan_amnt,5000.000000,2500.00,2400.000000,10000.000000,3000.00,5000.000000,7000.00,3000.000000,5600.00,5375.00,...,4000.00,7500.00,10850.00,12000.00,11575.00,10000.00,24000.00,13000.00,12000.00,20000.00
funded_amnt,5000.000000,2500.00,2400.000000,10000.000000,3000.00,5000.000000,7000.00,3000.000000,5600.00,5375.00,...,4000.00,7500.00,10850.00,12000.00,11575.00,10000.00,24000.00,13000.00,12000.00,20000.00
dti,27.650000,1.00,8.720000,20.000000,17.94,11.200000,23.51,5.350000,5.55,18.08,...,12.63,25.63,29.44,23.69,27.08,28.69,3.90,30.90,27.19,10.83
total_rec_late_fee,0.000000,0.00,0.000000,16.970000,0.00,0.000000,0.00,0.000000,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
funded_amnt_inv,4975.000000,2500.00,2400.000000,10000.000000,3000.00,5000.000000,7000.00,3000.000000,5600.00,5350.00,...,4000.00,7500.00,10850.00,12000.00,11575.00,10000.00,24000.00,13000.00,12000.00,20000.00
collection_recovery_fee,0.000000,1.11,0.000000,0.000000,0.00,0.000000,0.00,0.000000,2.09,2.52,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
recoveries,0.000000,117.08,0.000000,0.000000,0.00,0.000000,0.00,0.000000,189.06,269.29,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
installment,162.870000,59.83,84.330000,339.310000,67.79,156.460000,170.08,109.430000,152.39,121.45,...,126.59,240.22,399.04,398.52,404.61,332.10,797.03,316.07,317.86,664.20
revol_bal,13648.000000,1687.00,2956.000000,5598.000000,27783.00,7963.000000,17726.00,8221.000000,5210.00,9279.00,...,1700.00,6361.00,6987.00,21110.00,18266.00,14037.00,8621.00,11031.00,8254.00,33266.00
last_pymnt_amnt,171.620000,119.66,649.910000,357.480000,67.79,161.030000,170.08,111.340000,152.39,121.45,...,3655.51,240.22,25.00,398.52,404.61,332.10,797.03,316.07,317.86,664.20
out_prncp,0.000000,0.00,0.000000,0.000000,766.90,0.000000,1889.15,0.000000,0.00,0.00,...,0.00,5232.15,0.00,8466.56,8296.52,7055.47,16933.26,11155.50,10447.31,14110.94
total_rec_prncp,5000.000000,456.46,2400.000000,10000.000000,2233.10,5000.000000,5110.85,3000.000000,162.02,673.48,...,4000.00,2267.85,1405.77,3533.44,3278.48,2944.53,7066.74,1844.50,1552.69,5889.06
out_prncp_inv,0.000000,0.00,0.000000,0.000000,766.90,0.000000,1889.15,0.000000,0.00,0.00,...,0.00,5232.15,0.00,8466.56,8296.52,7055.47,16933.26,11155.50,10447.31,14110.94
total_rec_int,861.070000,435.17,603.650000,2209.330000,1009.07,631.380000,3025.99,938.140000,294.94,533.42,...,158.02,606.88,990.28,1232.81,1584.85,1027.35,2465.65,1925.24,2234.98,2054.70
total_pymnt_inv,5831.780000,1008.71,3003.650000,12226.300000,3242.17,5631.380000,8136.84,3938.140000,646.02,1469.34,...,4158.02,2874.73,2396.05,4766.25,4863.33,3971.88,9532.39,3769.74,3787.67,7943.76
total_pymnt,5861.071414,1008.71,3003.653644,12226.302212,3242.17,5631.377753,8136.84,3938.144334,646.02,1476.19,...,4158.02,2874.73,2396.05,4766.25,4863.33,3971.88,9532.39,3769.74,3787.67,7943.76
annual_inc,24000.000000,30000.00,12252.000000,49200.000000,80000.00,36000.000000,47004.00,48000.000000,40000.00,15000.00,...,50000.00,40000.00,32000.00,63000.00,25400.00,31000.00,79000.00,35000.00,64400.00,100000.00
acc_now_delinq,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
inq_last_6mths,1.000000,5.00,2.000000,1.000000,0.00,3.000000,1.00,2.000000,2.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00,2.00,1.00
delinq_2yrs,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.00,...,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,0.00
pub_rec,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.00,...,1.00,1.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,1.00
open_acc,3.000000,3.00,2.000000,10.000000,15.00,9.000000,7.00,4.000000,11.00,2.00,...,11.00,10.00,9.00,13.00,9.00,9.00,5.00,9.00,17.00,8.00
total_acc,9.000000,4.00,10.000000,37.000000,38.00,12.000000,11.00,4.000000,13.00,3.00,...,30.00,29.00,20.00,61.00,18.00,15.00,23.00,22.00,20.00,10.00
collections_12_mths_ex_med,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
revol_util,83.700000,9.40,98.500000,21.000000,53.90,28.300000,85.60,87.500000,32.60,36.50,...,5.60,43.90,41.60,69.70,65.00,82.10,84.50,61.30,30.60,79.80

## Let's work on string columns

In [112]:
df_clean[df_clean_info.Name[df_clean_info.Type=='object']].T

,0,1,2,3,4,5,6,7,8,9,...,887369,887370,887371,887372,887373,887374,887375,887376,887377,887378
term,36 months,60 months,36 months,36 months,60 months,36 months,60 months,36 months,60 months,60 months,...,36 months,36 months,36 months,36 months,36 months,36 months,36 months,60 months,60 months,36 months
pymnt_plan,n,n,n,n,n,n,n,n,n,n,...,n,n,n,n,n,n,n,n,n,n
initial_list_status,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,f,w,w,f
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,...,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
verification_status,Verified,Source Verified,Not Verified,Source Verified,Source Verified,Source Verified,Not Verified,Source Verified,Source Verified,Verified,...,Verified,Verified,Verified,Verified,Verified,Verified,Verified,Verified,Source Verified,Verified
home_ownership,RENT,RENT,RENT,RENT,RENT,RENT,RENT,RENT,OWN,RENT,...,MORTGAGE,RENT,OWN,MORTGAGE,RENT,RENT,MORTGAGE,RENT,RENT,RENT
grade,B,C,C,C,B,A,C,E,F,B,...,B,B,E,B,D,B,B,D,E,B
loan_status,Fully Paid,Charged Off,Fully Paid,Fully Paid,Current,Fully Paid,Current,Fully Paid,Charged Off,Charged Off,...,Fully Paid,Current,Charged Off,Current,Current,Current,Current,Current,Current,Current
emp_length,10+ years,< 1 year,10+ years,10+ years,1 year,3 years,8 years,9 years,4 years,< 1 year,...,10+ years,8 years,n/a,< 1 year,10+ years,8 years,10+ years,5 years,1 year,10+ years
purpose,credit_card,car,small_business,other,other,wedding,debt_consolidation,car,small_business,other,...,car,debt_consolidation,debt_consolidation,credit_card,credit_card,debt_consolidation,home_improvement,debt_consolidation,debt_consolidation,credit_card
sub_grade,B2,C4,C5,C1,B5,A4,C5,E1,F2,B5,...,B1,B2,E2,B5,D1,B5,B5,D2,E3,B5
addr_state,AZ,GA,IL,CA,OR,AZ,NC,CA,CA,TX,...,CA,WI,OH,OH,TX,CA,NJ,TN,MA,FL
issue_d,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,...,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015
zip_code,860xx,309xx,606xx,917xx,972xx,852xx,280xx,900xx,958xx,774xx,...,956xx,531xx,430xx,432xx,791xx,905xx,072xx,378xx,010xx,331xx
earliest_cr_line,Jan-1985,Apr-1999,Nov-2001,Feb-1996,Jan-1996,Nov-2004,Jul-2005,Jan-2007,Apr-2004,Sep-2004,...,Sep-2002,Aug-1994,Jun-2002,Jun-1995,Jul-1999,Sep-2004,Mar-1974,Sep-2003,Oct-2003,Dec-2001
last_credit_pull_d,Jan-2016,Sep-2013,Jan-2016,Jan-2015,Jan-2016,Sep-2015,Jan-2016,Dec-2014,Aug-2012,Mar-2013,...,Nov-2015,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016
title,Computer,bike,real estate business,personel,Personal,My wedding loan I promise to pay back,Loan,Car Downpayment,Expand Business & Buy Debt Portfolio,Building my credit history.,...,Car financing,Debt consolidation,Debt consolidation,Credit card refinancing,Credit card refinancing,Debt consolidation,Home improvement,Debt consolidation,Debt consolidation,Credit card refinancing
last_pymnt_d,Jan-2015,Apr-2013,Jun-2014,Jan-2015,Jan-2016,Jan-2015,Jan-2016,Jan-2015,Apr-2012,Nov-2012,...,Jun-2015,Jan-2016,Aug-2015,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016
emp_title,NaN,Ryder,NaN,AIR RESOURCES BOARD,University Medical Group,Veolia Transportaton,Southern Star Photography,MKC Accounting,NaN,Starbucks,...,Lead Custodian,Owner,NaN,KYC Business Analyst,Manager,Office Assistant,Director of Maintenance,Radiologist Technologist,Painter,Manager Hotel Operations Oasis

### Looks like most colums are useful except title, emptitle, zip code, state. These can be added later if prove useful.

In [114]:
df_clean_info.Name[df_clean_info.Type=='object'].values

array(['term', 'pymnt_plan', 'initial_list_status', 'application_type',
       'verification_status', 'home_ownership', 'grade', 'loan_status',
       'emp_length', 'purpose', 'sub_grade', 'addr_state', 'issue_d',
       'zip_code', 'earliest_cr_line', 'last_credit_pull_d', 'title',
       'last_pymnt_d', 'emp_title'], dtype=object)

In [115]:
str_columns = ['term', 'pymnt_plan', 'initial_list_status', 'application_type',
       'verification_status', 'home_ownership', 'grade', 'loan_status',
       'emp_length', 'purpose', 'sub_grade', 'issue_d',
       'earliest_cr_line', 'last_credit_pull_d','last_pymnt_d']

In [116]:
df_str = df[str_columns]

In [117]:
df_str.T

,0,1,2,3,4,5,6,7,8,9,...,887369,887370,887371,887372,887373,887374,887375,887376,887377,887378
term,36 months,60 months,36 months,36 months,60 months,36 months,60 months,36 months,60 months,60 months,...,36 months,36 months,36 months,36 months,36 months,36 months,36 months,60 months,60 months,36 months
pymnt_plan,n,n,n,n,n,n,n,n,n,n,...,n,n,n,n,n,n,n,n,n,n
initial_list_status,f,f,f,f,f,f,f,f,f,f,...,f,f,f,f,f,f,f,w,w,f
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,...,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
verification_status,Verified,Source Verified,Not Verified,Source Verified,Source Verified,Source Verified,Not Verified,Source Verified,Source Verified,Verified,...,Verified,Verified,Verified,Verified,Verified,Verified,Verified,Verified,Source Verified,Verified
home_ownership,RENT,RENT,RENT,RENT,RENT,RENT,RENT,RENT,OWN,RENT,...,MORTGAGE,RENT,OWN,MORTGAGE,RENT,RENT,MORTGAGE,RENT,RENT,RENT
grade,B,C,C,C,B,A,C,E,F,B,...,B,B,E,B,D,B,B,D,E,B
loan_status,Fully Paid,Charged Off,Fully Paid,Fully Paid,Current,Fully Paid,Current,Fully Paid,Charged Off,Charged Off,...,Fully Paid,Current,Charged Off,Current,Current,Current,Current,Current,Current,Current
emp_length,10+ years,< 1 year,10+ years,10+ years,1 year,3 years,8 years,9 years,4 years,< 1 year,...,10+ years,8 years,n/a,< 1 year,10+ years,8 years,10+ years,5 years,1 year,10+ years
purpose,credit_card,car,small_business,other,other,wedding,debt_consolidation,car,small_business,other,...,car,debt_consolidation,debt_consolidation,credit_card,credit_card,debt_consolidation,home_improvement,debt_consolidation,debt_consolidation,credit_card
sub_grade,B2,C4,C5,C1,B5,A4,C5,E1,F2,B5,...,B1,B2,E2,B5,D1,B5,B5,D2,E3,B5
issue_d,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,Dec-2011,...,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015,Jan-2015
earliest_cr_line,Jan-1985,Apr-1999,Nov-2001,Feb-1996,Jan-1996,Nov-2004,Jul-2005,Jan-2007,Apr-2004,Sep-2004,...,Sep-2002,Aug-1994,Jun-2002,Jun-1995,Jul-1999,Sep-2004,Mar-1974,Sep-2003,Oct-2003,Dec-2001
last_credit_pull_d,Jan-2016,Sep-2013,Jan-2016,Jan-2015,Jan-2016,Sep-2015,Jan-2016,Dec-2014,Aug-2012,Mar-2013,...,Nov-2015,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016
last_pymnt_d,Jan-2015,Apr-2013,Jun-2014,Jan-2015,Jan-2016,Jan-2015,Jan-2016,Jan-2015,Apr-2012,Nov-2012,...,Jun-2015,Jan-2016,Aug-2015,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016,Jan-2016

In [118]:
get_info_df(df_str)

,Name,Type,Nulls,Unique,Min,Max
0,term,object,0,2,36 months,60 months
1,pymnt_plan,object,0,2,n,y
2,initial_list_status,object,0,2,f,w
3,application_type,object,0,2,INDIVIDUAL,JOINT
4,verification_status,object,0,3,Not Verified,Verified
5,home_ownership,object,0,6,ANY,RENT
6,grade,object,0,7,A,G
7,loan_status,object,0,10,Charged Off,Late (31-120 days)
8,emp_length,object,0,12,1 year,n/a
9,purpose,object,0,14,car,wedding
10,sub_grade,object,0,35,A1,G5
11,issue_d,object,0,103,Apr-2008,Sep-2015
12,earliest_cr_line,object,29,698,inf,Sep-2012
13,last_credit_pull_d,object,53,104,inf,Sep-2015
14,last_pymnt_d,object,17659,99,inf,Sep-2015

In [119]:
df_str.to_pickle('data/str.pkl')

In [120]:
df_float.to_pickle('data/float.pkl')

In [121]:
df_clean.to_pickle('data/clean.pkl')

In [122]:
df.to_pickle('data/df.pkl')